<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.danie.dine">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE "/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.AllBookingsActivity"></activity>
        <activity android:name=".Activities.UploadMenuActivity" />
        <activity android:name=".Activities.RestaurantBookingViewActivity" />
        <activity android:name=".Activities.UserBookingView" />
        <activity android:name=".Activities.RestaurantRegisterActivity" />
        <activity android:name=".Activities.RestaurantLoginActivity" />
        <activity android:name=".Activities.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.LoginActivity" />
        <activity android:name=".Activities.RegisterActivity" />
        <activity android:name=".Activities.ProfileViewActivity" />
        <activity android:name=".Activities.ViewAccountActivity" />
        <activity android:name=".Activities.RestaurantViewActivity" />
        <activity
            android:name=".Activities.HomeActivity"
            android:label="@string/title_activity_home_menu_drawer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activities.BookingManagementActivity" />
    </application>

</manifest>